<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>识海报推荐</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/play.css">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<div class="logo">
			<h1 style="margin-top: 0px"><a href="/recsys/index" style="font-size:35px">MovieLens</a></h1>
		</div>
		<div class="search">
			<form action="" method="post">
				<input type="search" name="search" placeholder="请输入电影名字">
				<input type="submit" name="anniu" value="搜索">
			</form>
		</div>
	</header>
	<div class="cl"></div>
	<div id="container" class="container">
		<div class="container-fluid" style="background:#fff;padding-top:15px;padding-bottom:15px;">
			<ol class="breadcrumb">
				<li><a href="/recsys/index">首页</a></li>
				<li><span href="">识海报推荐</span></li>
			</ol>

			<div class="row">
				<div class="col-md-12">
					<h1 class="movie-title">电影海报</h1>
				</div><!--col-md-12 end\-->

				<div class="col-md-12">
					<div class="col-xs-2 movie-recommened">
						<a style="position:relative;display:block;" target="_blank" title="何以笙箫默(2015)" href="http://www.saaee.com/movie/8965.html">
							<img alt="何以笙箫默" src="http://ww1.sinaimg.cn/large/828dc694tw1ersje41h0qj20bx0go76j.jpg" width="100%">
							<div class="item-hover"></div>
						</a>
					</div>
					<h4>通过海报判断电影类型为：</h4>
					<h4>置信度：</h4>
				</div>

				<div class="cl"></div>
				<div class="col-xs-9 movie-info" style="width:780px;">
					<div class="row">

					</div>
					<div class="row">
						<div class="col-xs-12">
							<h2>为您推荐</h2>
						</div>
						<div style="padding:0 10px;">
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="何以笙箫默(2015)" href="http://www.saaee.com/movie/8965.html">
								<img alt="何以笙箫默" src="http://ww1.sinaimg.cn/large/828dc694tw1ersje41h0qj20bx0go76j.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="何以笙箫默(2015)" href="http://www.saaee.com/movie/8965.html">
								<h5>何以笙箫默</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="睡在我上铺的兄弟(2016)" href="http://www.saaee.com/movie/175597.html">
								<img alt="睡在我上铺的兄弟" src="http://ww1.sinaimg.cn/large/0069qWFHgw1f48vlbra34j30bw0gon04.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="睡在我上铺的兄弟(2016)" href="http://www.saaee.com/movie/175597.html">
								<h5>睡在我上铺的兄弟</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="陆垚知马俐(2016)" href="http://www.saaee.com/movie/183805.html">
								<img alt="陆垚知马俐" src="http://ww2.sinaimg.cn/large/0069qWFHjw1f5uvbz3q8bj30bx0gon2o.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="陆垚知马俐(2016)" href="http://www.saaee.com/movie/183805.html">
								<h5>陆垚知马俐</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="泡沫之夏(2016)" href="http://www.saaee.com/movie/185549.html">
								<img alt="泡沫之夏" src="http://ww1.sinaimg.cn/large/0069qWFHgw1f7hxgt5rb1j30bw0gowi3.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="泡沫之夏(2016)" href="http://www.saaee.com/movie/185549.html">
								<h5>泡沫之夏</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="我最好朋友的婚礼(2016)" href="http://www.saaee.com/movie/186991.html">
								<img alt="我最好朋友的婚礼" src="http://ww3.sinaimg.cn/large/0069qWFHgw1f8anzvhmedj30bw0go78b.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="我最好朋友的婚礼(2016)" href="http://www.saaee.com/movie/186991.html">
								<h5>我最好朋友的婚礼</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="大话西游3(2016)" href="http://www.saaee.com/movie/188609.html">
								<img alt="大话西游3" src="http://ww4.sinaimg.cn/large/0069qWFHgw1f7xy20yfblj30bw0go0xn.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="大话西游3(2016)" href="http://www.saaee.com/movie/188609.html">
								<h5>大话西游3</h5>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="cl"></div>
				<div class="col-md-12">
					<h1 class="movie-title">对抗样本</h1>
				</div>
				<div class="col-md-12">
					<div class="col-xs-2 movie-recommened">
						<a style="position:relative;display:block;" target="_blank" title="何以笙箫默(2015)" href="http://www.saaee.com/movie/8965.html">
							<img alt="何以笙箫默" src="http://ww1.sinaimg.cn/large/828dc694tw1ersje41h0qj20bx0go76j.jpg" width="100%">
							<div class="item-hover"></div>
						</a>
					</div>
					<h4>通过海报判断电影类型为：</h4>
					<h4>置信度：</h4>
				</div>

				<div class="cl"></div>
				<div class="col-xs-9 movie-info" style="width:780px;">
					<div class="row">

					</div>
					<div class="row">
						<div class="col-xs-12">
							<h2>为您推荐</h2>
						</div>
						<div style="padding:0 10px;">
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="何以笙箫默(2015)" href="http://www.saaee.com/movie/8965.html">
								<img alt="何以笙箫默" src="http://ww1.sinaimg.cn/large/828dc694tw1ersje41h0qj20bx0go76j.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="何以笙箫默(2015)" href="http://www.saaee.com/movie/8965.html">
								<h5>何以笙箫默</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="睡在我上铺的兄弟(2016)" href="http://www.saaee.com/movie/175597.html">
								<img alt="睡在我上铺的兄弟" src="http://ww1.sinaimg.cn/large/0069qWFHgw1f48vlbra34j30bw0gon04.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="睡在我上铺的兄弟(2016)" href="http://www.saaee.com/movie/175597.html">
								<h5>睡在我上铺的兄弟</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="陆垚知马俐(2016)" href="http://www.saaee.com/movie/183805.html">
								<img alt="陆垚知马俐" src="http://ww2.sinaimg.cn/large/0069qWFHjw1f5uvbz3q8bj30bx0gon2o.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="陆垚知马俐(2016)" href="http://www.saaee.com/movie/183805.html">
								<h5>陆垚知马俐</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="泡沫之夏(2016)" href="http://www.saaee.com/movie/185549.html">
								<img alt="泡沫之夏" src="http://ww1.sinaimg.cn/large/0069qWFHgw1f7hxgt5rb1j30bw0gowi3.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="泡沫之夏(2016)" href="http://www.saaee.com/movie/185549.html">
								<h5>泡沫之夏</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="我最好朋友的婚礼(2016)" href="http://www.saaee.com/movie/186991.html">
								<img alt="我最好朋友的婚礼" src="http://ww3.sinaimg.cn/large/0069qWFHgw1f8anzvhmedj30bw0go78b.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="我最好朋友的婚礼(2016)" href="http://www.saaee.com/movie/186991.html">
								<h5>我最好朋友的婚礼</h5>
								</a>
							</div>
							<div class="col-xs-2 movie-recommened">
								<a style="position:relative;display:block;" target="_blank" title="大话西游3(2016)" href="http://www.saaee.com/movie/188609.html">
								<img alt="大话西游3" src="http://ww4.sinaimg.cn/large/0069qWFHgw1f7xy20yfblj30bw0go0xn.jpg" width="100%">
								<div class="item-hover"></div>
								</a>
								<a target="_blank" title="大话西游3(2016)" href="http://www.saaee.com/movie/188609.html">
								<h5>大话西游3</h5>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div><!--row end\-->
		</div>
	</div>
	<footer>
		<div class="foot">
			<p>
				免责声明：本网站数据和代码均为开源，仅供测试和学习交流。
			<br>
			<p class="friend-link">
				友情链接：
				<a target="_blank" href="https://www.blog.karlrixon.cn/">KarlRixon</a>
			</p>
			<em>
				♥
				<a href="/recsys/index">MovieLens100k电影推荐</a>
			</em>
		</div>
	</footer>
</body>
</html>